{% extends "layout.html" %} {% block title %}To-Do App{% endblock %} {% block
content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Not just another to-do app.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Items</h2>
    <ul class="list-group mb-4">
      {% for item in items %}
      <li class="text-primary">
        {{item.status}} - {{item.title}}
        <form method="POST" action='/'>
          <input type="checkbox" value={{item.id}} name="item.id" class="btn btn-primary"/>
          <label class="text-secondary" for="item.id">Mark as Done</label>
      </li>
      {% endfor %}
    </ul>
    <input type ="submit" class="btn btn-success"> 
        </form>
  </div>
</div>
{% endblock %}
